<div 
    ng-show="page_meta_data.has_header" 
    ng-include="'common_things/template_page_header.html'"
></div>

<div class="wrapper wrapper-content animated fadeInRight">
     
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <!-- <div class="ibox-title">
                    <h5>Table with data from $scope - <strong>(The angular way)</strong></h5>

                    <div ibox-tools></div>
                </div> -->

                <div class="ibox-content">
                    <form name="form_add_trap">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="project_name">Project Name </label>
                                        <div 
                                            class="text-success glyphicon glyphicon-ok form-control-feedback" 
                                            ng-show="form_add_trap.project_name.$valid && form_add_trap.project_name.$dirty"
                                        ></div>
                                        <div 
                                            class="text-danger glyphicon glyphicon-remove form-control-feedback" 
                                            ng-show="form_add_trap.project_name.$invalid && form_add_trap.project_name.$dirty"
                                        ></div> 
                                    </div>
                                    <div class="col-md-8">
                                        <input 
                                            class="form-control" 
                                            type="text" 
                                            name="project_name"
                                            ng-model="project_for_edit.project_name"
                                            placeholder="Enter Project Name"
                                            required
                                        >
                                        <div 
                                            ng-show="form_add_trap.project_name.$error.required && form_add_trap.project_name.$dirty"
                                            class="alert alert-danger"
                                        >
                                            Project Name is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>   
                        
                        

                        
                        
                        <br><br>
                        <div class="row" align="center">
                            <button 
                                type="button" 
                                class="btn btn-w-m btn-success"
                                ng-click="update_project(project_for_edit._id,project_for_edit)"
                            >Update</button>
                                <!-- ng-disabled="form_add_trap.$invalid" -->
                            <button 
                                type="button" 
                                class="btn btn-w-m btn-primary"
                                ng-click="reset_form()"
                            >Reset</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
